<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		  
<beans>
	<!-- 
	<bean id="c" class="beans.Car" dependency-check="simple">
	 no need to call to call setter 
	</bean>
	-->
	
	<!--
	<bean id="c" class="beans.Car" dependency-check="simple">
	 We must need to call primitive setter 
	<property name="carname" value="AUDI"></property>
	</bean>
	-->
	
	
	<bean id="e" class="beans.Engine" dependency-check="simple">
		<property name="modelyear" value="2015"></property>
	</bean>
	
	
	<!-- 
	<bean id="c" class="beans.Car" dependency-check="objects">
	 we must need to call secondary setter 
		<property name="engine" ref="e"></property>
	</bean>
	-->
	
	<bean id="c" class="beans.Car" dependency-check="all">
		<!-- we must need to call all type of setter -->
		<property name="carname" value="AUDI"/>
		<property name="engine" ref="e"/>
	</bean>
</beans>